EquipmentManagementEng/isn/Connected Services/ServiceReference1/Verifier1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="HelloWord">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HelloWordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HelloWordResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CallInterface">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InterfaceNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Params" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AttachParams" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CallInterfaceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CallInterfaceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>